.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 2.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #9fe870 !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #06a4a1 !important;
}
.bg-danger {
  background-color: #ffea64 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
  color: #264d0c !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #264d0c !important;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
  color: #d70081 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #d70081 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #06a4a1 !important;
  border-color: #06a4a1 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #08d5d1 !important;
  border-color: #08d5d1 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #08d5d1 !important;
  border-color: #08d5d1 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
  color: #645600 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #645600 !important;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #9fe870;
  color: #9fe870;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #6ddc25 !important;
  background-color: transparent !important;
  border-color: #6ddc25 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #264d0c !important;
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffd7ef;
  color: #ffd7ef;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff80cc !important;
  background-color: transparent !important;
  border-color: #ff80cc !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #d70081 !important;
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #06a4a1;
  color: #06a4a1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #03504f !important;
  background-color: transparent !important;
  border-color: #03504f !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #06a4a1 !important;
  border-color: #06a4a1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffea64;
  color: #ffea64;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffde0d !important;
  background-color: transparent !important;
  border-color: #ffde0d !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #645600 !important;
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #9fe870 !important;
}
.text-secondary {
  color: #ffd7ef !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #06a4a1 !important;
}
.text-danger {
  color: #ffea64 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #66d022 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff71c6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #024240 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fddb00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #9fe870;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #06a4a1;
}
.alert-danger {
  background-color: #ffea64;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #9fe870;
  border-color: #9fe870;
  color: #306310;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #9fe870;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #32f8f4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #9fe870 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.5rem;
}
blockquote {
  border-color: #9fe870;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #9fe870;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #9fe870;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #9fe870;
  border-bottom-color: #9fe870;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #9fe870 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffd7ef !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%239fe870' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tU84DBEhw2 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tU84DBEhw2 nav.navbar {
  position: fixed;
}
.cid-tU84DBEhw2 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tU84DBEhw2 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tU84DBEhw2 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tU84DBEhw2 .dropdown-item:hover,
.cid-tU84DBEhw2 .dropdown-item:focus {
  background: #9fe870 !important;
  color: white !important;
}
.cid-tU84DBEhw2 .dropdown-item:hover span {
  color: white;
}
.cid-tU84DBEhw2 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tU84DBEhw2 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tU84DBEhw2 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tU84DBEhw2 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tU84DBEhw2 .nav-link {
  position: relative;
}
.cid-tU84DBEhw2 .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tU84DBEhw2 .container {
    flex-wrap: nowrap;
  }
}
.cid-tU84DBEhw2 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tU84DBEhw2 .dropdown-menu,
.cid-tU84DBEhw2 .navbar.opened {
  background: #ffd7ef !important;
}
.cid-tU84DBEhw2 .nav-item:focus,
.cid-tU84DBEhw2 .nav-link:focus {
  outline: none;
}
.cid-tU84DBEhw2 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tU84DBEhw2 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tU84DBEhw2 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tU84DBEhw2 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tU84DBEhw2 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tU84DBEhw2 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tU84DBEhw2 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffd7ef;
}
.cid-tU84DBEhw2 .navbar.opened {
  transition: all 0.3s;
}
.cid-tU84DBEhw2 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tU84DBEhw2 .navbar .navbar-logo img {
  width: auto;
}
.cid-tU84DBEhw2 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tU84DBEhw2 .navbar.collapsed {
  justify-content: center;
}
.cid-tU84DBEhw2 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tU84DBEhw2 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tU84DBEhw2 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tU84DBEhw2 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tU84DBEhw2 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tU84DBEhw2 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tU84DBEhw2 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tU84DBEhw2 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tU84DBEhw2 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tU84DBEhw2 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tU84DBEhw2 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tU84DBEhw2 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tU84DBEhw2 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tU84DBEhw2 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tU84DBEhw2 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tU84DBEhw2 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tU84DBEhw2 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tU84DBEhw2 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tU84DBEhw2 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tU84DBEhw2 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tU84DBEhw2 .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tU84DBEhw2 .navbar.navbar-short {
  min-height: 60px;
}
.cid-tU84DBEhw2 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tU84DBEhw2 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tU84DBEhw2 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tU84DBEhw2 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tU84DBEhw2 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tU84DBEhw2 .dropdown-item.active,
.cid-tU84DBEhw2 .dropdown-item:active {
  background-color: transparent;
}
.cid-tU84DBEhw2 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tU84DBEhw2 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tU84DBEhw2 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tU84DBEhw2 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffd7ef;
}
.cid-tU84DBEhw2 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tU84DBEhw2 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tU84DBEhw2 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tU84DBEhw2 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tU84DBEhw2 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tU84DBEhw2 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tU84DBEhw2 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tU84DBEhw2 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tU84DBEhw2 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tU84DBEhw2 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tU84DBEhw2 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tU84DBEhw2 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tU84DBEhw2 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tU84DBEhw2 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tU84DBEhw2 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tU84DBEhw2 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tU84DBEhw2 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tU84DBEhw2 .navbar {
    height: 70px;
  }
  .cid-tU84DBEhw2 .navbar.opened {
    height: auto;
  }
  .cid-tU84DBEhw2 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tU8dFRBzXD {
  padding-top: 6rem;
  padding-bottom: 7rem;
}
.cid-tU8dFRBzXD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tU8dFRBzXD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background13.jpg");
}
.cid-tU8dFRBzXD .row {
  flex-direction: row-reverse;
}
.cid-tU8dFRBzXD .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tU8dFRBzXD .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tU8dFRBzXD .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tU8dFRBzXD .mbr-text,
.cid-tU8dFRBzXD .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tU8dFRBzXD .mbr-section-title {
  color: #ffffff;
}
.cid-tU8moCxIE1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-tU8moCxIE1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tU8moCxIE1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tU8moCxIE1 .item:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tU8moCxIE1 .item-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
}
.cid-tU8moCxIE1 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tU8moCxIE1 .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tU8moCxIE1 .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-tU8moCxIE1 .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tU8moCxIE1 .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tU8moCxIE1 .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tU8moCxIE1 .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tU8moCxIE1 .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tU8moCxIE1 .card-title {
  color: #06a4a1;
}
.cid-tU8moCxIE1 .card-subtitle {
  color: #06a4a1;
}
.cid-tU8moCxIE1 .mbr-text,
.cid-tU8moCxIE1 .social-row {
  text-align: left;
}
.cid-tU8p8zeqvE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #edefeb;
}
.cid-tU8p8zeqvE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tU8p8zeqvE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 1500px) {
  .cid-tU8p8zeqvE .container {
    max-width: 1400px;
  }
}
.cid-tU8p8zeqvE .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-tU8p8zeqvE .row {
  justify-content: center;
}
.cid-tU8p8zeqvE .mbr-section-title {
  color: #06a4a1;
}
.cid-tVpV3NIQGm {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #d2fafa;
}
.cid-tVpV3NIQGm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVpV3NIQGm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tVpV3NIQGm .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tVpV3NIQGm .item {
    margin-bottom: 1rem;
  }
}
.cid-tVpV3NIQGm .item-wrapper {
  position: relative;
}
.cid-tVpV3NIQGm .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;
  color: #464845 !important;
  transform: translateX(-50%) translateY(-50%);
  background-color: #edefea !important;
  transition: 0.2s;
}
.cid-tVpV3NIQGm .item-wrapper:hover .icon-wrapper {
  opacity: 1;
}
.cid-tVpV3NIQGm .carousel-control,
.cid-tVpV3NIQGm .close {
  background: #1b1b1b;
}
.cid-tVpV3NIQGm .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tVpV3NIQGm .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tVpV3NIQGm .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tVpV3NIQGm .carousel-control-next span {
  margin-left: 5px;
}
.cid-tVpV3NIQGm .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tVpV3NIQGm .close::before {
  content: '\e91a';
}
.cid-tVpV3NIQGm .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tVpV3NIQGm .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tVpV3NIQGm .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tVpV3NIQGm .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tVpV3NIQGm .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tVpV3NIQGm .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tVpV3NIQGm .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tVpV3NIQGm .carousel-indicators li.active,
.cid-tVpV3NIQGm .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tVpV3NIQGm .carousel-indicators li::after,
.cid-tVpV3NIQGm .carousel-indicators li::before {
  content: none;
}
.cid-tVpV3NIQGm .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tVpV3NIQGm .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tVpV3NIQGm .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tVpV3NIQGm .carousel-indicators {
    display: none;
  }
}
.cid-tVpV3NIQGm .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tVpV3NIQGm .carousel-inner > .active {
  display: block;
}
.cid-tVpV3NIQGm .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tVpV3NIQGm .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tVpV3NIQGm .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tVpV3NIQGm .carousel-control,
  .cid-tVpV3NIQGm .carousel-indicators,
  .cid-tVpV3NIQGm .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tVpV3NIQGm .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tVpV3NIQGm .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tVpV3NIQGm .carousel-indicators .active,
.cid-tVpV3NIQGm .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tVpV3NIQGm .carousel-indicators .active {
  background: #fff;
}
.cid-tVpV3NIQGm .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tVpV3NIQGm .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tVpV3NIQGm .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tVpV3NIQGm .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tVpV3NIQGm .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tVpV3NIQGm .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tVpV3NIQGm .carousel {
  width: 100%;
}
.cid-tVpV3NIQGm .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tVpV3NIQGm .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tVpV3NIQGm .modal.fade .modal-dialog,
.cid-tVpV3NIQGm .modal.in .modal-dialog {
  transform: none;
}
.cid-tVpV3NIQGm .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tVpV3NIQGm .content-head {
  max-width: 800px;
}
.cid-tVpV3NIQGm H3 {
  color: #06a4a1;
}
.cid-tVpV3NIQGm H4 {
  text-align: center;
}
.cid-tVyfY3NnOH {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #d2fafa;
}
.cid-tVyfY3NnOH .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-tVyfY3NnOH img,
.cid-tVyfY3NnOH .item-img {
  width: 100%;
  height: 100%;
  height: 500px;
  object-fit: cover;
}
.cid-tVyfY3NnOH .item:focus,
.cid-tVyfY3NnOH span:focus {
  outline: none;
}
.cid-tVyfY3NnOH .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tVyfY3NnOH .item {
    margin-bottom: 1rem;
  }
}
.cid-tVyfY3NnOH .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tVyfY3NnOH .mbr-section-title {
  color: #232323;
}
.cid-tVyfY3NnOH .mbr-text,
.cid-tVyfY3NnOH .mbr-section-btn {
  color: #232323;
}
.cid-tVyfY3NnOH .item-title {
  color: #232323;
  text-align: center;
}
.cid-tVyfY3NnOH .content-head {
  max-width: 800px;
}
.cid-tU8vtGofZJ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tU8vtGofZJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tU8vtGofZJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tU8vtGofZJ .item {
  padding-bottom: 2rem;
}
.cid-tU8vtGofZJ .item-wrapper {
  height: 300px;
  position: relative;
}
.cid-tU8vtGofZJ .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-tU8vtGofZJ .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tU8vtGofZJ .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tU8vtGofZJ .carousel-control,
.cid-tU8vtGofZJ .close {
  background: #1b1b1b;
}
.cid-tU8vtGofZJ .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tU8vtGofZJ .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tU8vtGofZJ .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tU8vtGofZJ .carousel-control-next span {
  margin-left: 5px;
}
.cid-tU8vtGofZJ .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tU8vtGofZJ .close::before {
  content: '\e91a';
}
.cid-tU8vtGofZJ .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tU8vtGofZJ .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tU8vtGofZJ .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tU8vtGofZJ .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tU8vtGofZJ .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tU8vtGofZJ .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tU8vtGofZJ .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tU8vtGofZJ .carousel-indicators li.active,
.cid-tU8vtGofZJ .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tU8vtGofZJ .carousel-indicators li::after,
.cid-tU8vtGofZJ .carousel-indicators li::before {
  content: none;
}
.cid-tU8vtGofZJ .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tU8vtGofZJ .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tU8vtGofZJ .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tU8vtGofZJ .carousel-indicators {
    display: none;
  }
}
.cid-tU8vtGofZJ .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tU8vtGofZJ .carousel-inner > .active {
  display: block;
}
.cid-tU8vtGofZJ .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tU8vtGofZJ .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tU8vtGofZJ .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tU8vtGofZJ .carousel-control,
  .cid-tU8vtGofZJ .carousel-indicators,
  .cid-tU8vtGofZJ .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tU8vtGofZJ .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tU8vtGofZJ .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tU8vtGofZJ .carousel-indicators .active,
.cid-tU8vtGofZJ .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tU8vtGofZJ .carousel-indicators .active {
  background: #fff;
}
.cid-tU8vtGofZJ .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tU8vtGofZJ .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tU8vtGofZJ .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tU8vtGofZJ .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tU8vtGofZJ .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tU8vtGofZJ .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tU8vtGofZJ .carousel {
  width: 100%;
}
.cid-tU8vtGofZJ .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tU8vtGofZJ .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tU8vtGofZJ .modal.fade .modal-dialog,
.cid-tU8vtGofZJ .modal.in .modal-dialog {
  transform: none;
}
.cid-tU8vtGofZJ .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tU8vtGofZJ H6 {
  text-align: center;
}
.cid-tU8vtGofZJ H3 {
  color: #06a4a1;
  text-align: center;
}
.cid-tU8zrOtFId {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tU8zrOtFId .mbr-fallback-image.disabled {
  display: none;
}
.cid-tU8zrOtFId .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tU8zrOtFId .video-wrapper iframe {
  width: 100%;
}
.cid-tU8zrOtFId .mbr-section-title,
.cid-tU8zrOtFId .mbr-description {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tU8zrOtFId .text-wrapper {
    padding: 2rem;
  }
}
.cid-tU8zrOtFId .mbr-section-title {
  color: #06a4a1;
}
.cid-tU8zv0jtnS {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tU8zv0jtnS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tU8zv0jtnS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tU8zv0jtnS .row {
  flex-direction: row-reverse;
}
.cid-tU8zv0jtnS .video-wrapper iframe {
  width: 100%;
}
.cid-tU8zv0jtnS .mbr-section-title,
.cid-tU8zv0jtnS .mbr-description {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tU8zv0jtnS .text-wrapper {
    padding: 2rem;
  }
}
.cid-tVunzpaFEC {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tVunzpaFEC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVunzpaFEC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tVunzpaFEC .row {
  flex-direction: row-reverse;
}
@media (max-width: 992px) {
  .cid-tVunzpaFEC .mbr-figure {
    margin-top: 1.5rem;
  }
}
.cid-tVunzpaFEC .row {
  align-items: center;
}
@media (min-width: 992px) {
  .cid-tVunzpaFEC .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tVunzpaFEC .media-content,
.cid-tVunzpaFEC .mbr-figure {
  align-self: center;
}
.cid-tVunzpaFEC .mbr-figure iframe {
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.cid-tVunzpaFEC .mbr-figure {
  border-radius: 0rem;
  overflow: hidden;
}
@media (min-width: 767px) {
  .cid-tVunzpaFEC .mbr-figure {
    border-radius: 2rem;
  }
}
.cid-tVunzpaFEC .mbr-section-title {
  text-align: center;
}
.cid-tVunzpaFEC .mbr-description {
  text-align: center;
}
.cid-tVunBpKkUm {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tVunBpKkUm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVunBpKkUm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tVunBpKkUm .mbr-figure {
    margin-top: 1.5rem;
  }
}
.cid-tVunBpKkUm .row {
  align-items: center;
}
@media (min-width: 992px) {
  .cid-tVunBpKkUm .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tVunBpKkUm .media-content,
.cid-tVunBpKkUm .mbr-figure {
  align-self: center;
}
.cid-tVunBpKkUm .mbr-figure iframe {
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.cid-tVunBpKkUm .mbr-figure {
  border-radius: 0rem;
  overflow: hidden;
}
@media (min-width: 767px) {
  .cid-tVunBpKkUm .mbr-figure {
    border-radius: 2rem;
  }
}
.cid-tVunBpKkUm .mbr-section-title {
  text-align: center;
}
.cid-tVunBpKkUm .mbr-description {
  text-align: center;
}
.cid-tXxNUh6Kxj {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tXxNUh6Kxj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXxNUh6Kxj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXxNUh6Kxj .row {
  flex-direction: row-reverse;
}
@media (max-width: 992px) {
  .cid-tXxNUh6Kxj .mbr-figure {
    margin-top: 1.5rem;
  }
}
.cid-tXxNUh6Kxj .row {
  align-items: center;
}
@media (min-width: 992px) {
  .cid-tXxNUh6Kxj .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tXxNUh6Kxj .media-content,
.cid-tXxNUh6Kxj .mbr-figure {
  align-self: center;
}
.cid-tXxNUh6Kxj .mbr-figure iframe {
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.cid-tXxNUh6Kxj .mbr-figure {
  border-radius: 0rem;
  overflow: hidden;
}
@media (min-width: 767px) {
  .cid-tXxNUh6Kxj .mbr-figure {
    border-radius: 2rem;
  }
}
.cid-tXxNUh6Kxj .mbr-section-title {
  text-align: center;
}
.cid-tXxNUh6Kxj .mbr-description {
  text-align: center;
}
.cid-tXyHU6HfeL {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #edefeb;
}
.cid-tXyHU6HfeL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXyHU6HfeL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXyHU6HfeL .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-tXyHU6HfeL .bg-facebook:hover {
  background: #0b60cb;
}
.cid-tXyHU6HfeL .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-tXyHU6HfeL [class^="socicon-"]:before,
.cid-tXyHU6HfeL [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-tXyHU6HfeL .mbr-section-title,
.cid-tXyHU6HfeL .social-list {
  color: #06a4a1;
}
.cid-tU8CY5QjpQ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffd7ef;
  overflow: hidden;
}
.cid-tU8CY5QjpQ .media-container-row .mbr-text {
  color: #d38181;
}
